In [71]:
import pandas as pd
import plotly.express as px

In [72]:
dataframes = []

for year in range(1880, 2023, 1):
    try:
        df = pd.read_csv(f"https://raw.githubusercontent.com/aruljohn/popular-baby-names/master/{year}/girl_boy_names_{year}.csv")
        df['Year'] = year
        dataframes.append(df)
    except:
        pass

In [ ]:
all_years_dfs = pd.concat(dataframes, ignore_index=True)

In [ ]:
all_years_dfs

        Rank  Girl Name Boy Name  Year
0          1       Mary     John  1880
1          2       Anna  William  1880
2          3       Emma    James  1880
3          4  Elizabeth  Charles  1880
4          5     Minnie   George  1880
...      ...        ...      ...   ...
142991   996     Luella    Imran  2022
142992   997      Nancy    Ivaan  2022
142993   998      Cielo    Kanan  2022
142994   999    Madalyn    Kalel  2022
142995  1000    Kahlani   London  2022

[142996 rows x 4 columns]

In [ ]:
all_years_df = all_years_dfs.melt(
    id_vars=['Year', 'Rank']
    ).rename(
    columns={"variable": "Gender", "value": "Name"}
    )

In [ ]:
all_years_df.sample(20)

        Year  Rank     Gender      Name
245152  1982   161   Boy Name   Clayton
202526  1939   535   Boy Name   Solomon
53757   1933   762  Girl Name    Easter
227419  1964   428   Boy Name    Horace
182990  1919   999   Boy Name     Adolf
185472  1922   481   Boy Name   Houston
178488  1915   497   Boy Name     Cyrus
140714  2020   719  Girl Name    Jessie
23796   1903   801  Girl Name  Magdalen
170189  1907   198   Boy Name    Jerome
23850   1903   855  Girl Name    Mettie
132269  2012   274  Girl Name     Paris
211064  1948    73   Boy Name     Glenn
229722  1966   731   Boy Name   Joaquin
235169  1972   178   Boy Name      Mike
48225   1928   230  Girl Name     Jewel
219573  1956   582   Boy Name       Rob
89809   1969   814  Girl Name     Kandy
165552  1902   561   Boy Name     Buddy
174207  1911   216   Boy Name      Loyd

In [ ]:
example_df = all_years_df[all_years_df["Name"] == "Benjamin"]

fig = px.line(example_df, y="Rank", x="Year", range_y=[1000, 0], range_x=[1880, 2022], markers=True)


fig

In [ ]:

fig = px.line(example_df, y="Rank", x="Year", color="Gender", range_y=[1000, 0], range_x=[1880, 2022], markers=True)


fig

In [ ]:
all_years_df['Gender'] = all_years_df['Gender'].replace('Boy Name', 'M')
all_years_df['Gender'] = all_years_df['Gender'].replace('Girl Name', 'F')

In [ ]:
all_years_df.to_csv("all_years_names_popularity.csv", index=False)

In [ ]:
all_years_df.groupby(["Gender", "Name"]).mean()["Rank"].reset_index().sort_values(by="Rank")

         Gender       Name         Rank
1825   Boy Name      James     5.440559
3612   Boy Name    William     6.307692
1977   Boy Name       John     7.076923
2007   Boy Name     Joseph    10.888112
4989  Girl Name  Elizabeth    12.160839
...         ...        ...          ...
61     Boy Name       Aime  1000.000000
118    Boy Name      Almus  1000.000000
7001  Girl Name      Olena  1000.000000
7122  Girl Name    Phyliss  1000.000000
2412   Boy Name       Lott  1000.000000

[8041 rows x 3 columns]

In [ ]:
name_counts = pd.DataFrame(all_years_df["Name"].value_counts())
name_counts

           count
Name
Jessie       281
Leslie       261
Guadalupe    256
Lee          254
James        253
...          ...
Vick           1
Powell         1
Job            1
Iverson        1
Kanan          1

[7307 rows x 1 columns]

In [ ]:
appears_more_than_10_times = name_counts[name_counts['count']> 10].reset_index()
appears_more_than_10_times

           Name  count
0        Jessie    281
1        Leslie    261
2     Guadalupe    256
3           Lee    254
4         James    253
...         ...    ...
4640  Arlington     11
4641    Braedon     11
4642      Merri     11
4643    Paislee     11
4644    Abigale     11

[4645 rows x 2 columns]

In [ ]:
all_years_df[all_years_df["Name"].isin(appears_more_than_10_times.Name.tolist())]

        Year  Rank     Gender       Name
0       1880     1  Girl Name       Mary
1       1880     2  Girl Name       Anna
2       1880     3  Girl Name       Emma
3       1880     4  Girl Name  Elizabeth
4       1880     5  Girl Name     Minnie
...      ...   ...        ...        ...
285980  2022   989   Boy Name  Zechariah
285981  2022   990   Boy Name    Brennan
285982  2022   991   Boy Name     Marlon
285990  2022   999   Boy Name      Kalel
285991  2022  1000   Boy Name     London

[275645 rows x 4 columns]

In [ ]:
all_names_1920_onwards = all_years_df[all_years_df["Year"] >= 1920].reset_index(drop=True)


all_names_1920_onwards.to_csv(
    "names_1920_onwards.csv",
     index=False)

In [ ]:
all_names_1920_onwards

        Year  Rank Gender      Name
0       1920     1      F      Mary
1       1920     2      F   Dorothy
2       1920     3      F     Helen
3       1920     4      F  Margaret
4       1920     5      F      Ruth
...      ...   ...    ...       ...
205995  2022   996      M     Imran
205996  2022   997      M     Ivaan
205997  2022   998      M     Kanan
205998  2022   999      M     Kalel
205999  2022  1000      M    London

[206000 rows x 4 columns]

In [ ]:
# all_names_1920_onwards.pivot(index=['Name', 'Gender'], columns=['Year'], values=['Rank']).to_csv(
#     "names_1920_onwards_unstacked.csv",
#      index=False)

In [ ]:
all_names_1920_onwards.pivot(index=['Name', 'Gender'], columns='Year', values='Rank').reset_index(drop=False).to_csv(
    "names_1920_onwards_unstacked.csv",
     index=False)

In [73]:
pd.read_csv('names_1920_onwards_unstacked.csv').melt(id_vars=["Name", "Gender"]).dropna().rename(
    columns={"variable": "Year", "value": "Rank"}
    )

          Name Gender variable  value
7        Aaron      M     1920  199.0
13       Abbie      F     1920  729.0
19         Abe      M     1920  408.0
20        Abel      M     1920  732.0
25       Abner      M     1920  792.0
...        ...    ...      ...    ...
673305    Zoya      F     2022  787.0
673307    Zuri      F     2022  194.0
673308   Zyair      M     2022  733.0
673309  Zyaire      M     2022  371.0
673310    Zyon      M     2022  871.0

[206000 rows x 4 columns]